// Common styles of the project

html,
body {
    height: 100%;
}

.page {
    font-family: "Lato", Arial, sans-serif;
    overflow-x: hidden !important;
    overflow-y: auto;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    background-color: #fafafa;
    box-sizing: border-box;
    color: #331A2F;
    font-weight: 400;
    font-size: 25px;

    a {
        color: #331A2F;
        text-decoration: none;
    }

    &.no-scroll {
        width: 100vw;
        height: 100vh;
        margin: 0px;
        overflow: hidden;
    }
}


.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

.wrapper {
    width: 1530px;
    margin: 0 auto;
}

.btn-purple {
    background: #CF51CE;
    border-radius: 12px;
    color: #FFFFFF !important;
    padding: 11px 35px;
    transition: 0.3s;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;

    svg {
        width: 23px;
        height: 23px;
        margin-right: 14px;
    }

    &:hover {
        background: #bb40bb;
    }
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

h3 {
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
}

h4 {
    font-weight: 600;
    font-size: 35px;
    line-height: 29px;
}

h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

@media only screen and (max-width: 1800px) {

    //1280-1920
    .wrapper {
        width: 1200px;
    }

    .btn-purple {
        font-weight: 500;
        font-size: 18px;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    h1 {
        font-size: 46px;
        line-height: 65px;
    }

    h2 {
        font-size: 40px;
        line-height: 50px;
    }

    h3 {
        font-size: 38px;
        line-height: 55px;
    }

    h4 {
        font-size: 30px;
        line-height: 36px;
    }

    h5 {
        font-size: 20px;
        line-height: 150%;
    }

    h6 {
        font-size: 16px;
        line-height: 150%;
    }

}

@media only screen and (max-width: 1260px) {
    //768-1280

    //1280-1920
    .wrapper {
        width: 738px;
    }

    .btn-purple {
        font-size: 20px;
    }
}

@media only screen and (max-width: 750px) {

    //360-768
    .wrapper {
        width: 330px !important;
    }

    .btn-purple {
        padding: 4px 19px;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;

        svg {
            width: 14px;
            height: 14px;
            margin-right: 8px;
        }
    }

    h1 {
        font-size: 26px;
        line-height: 150%;
    }

    h2 {
        font-size: 24px;
        line-height: 150%;
    }

    h3 {
        font-size: 22px;
        line-height: 150%;
    }

    h4 {
        font-size: 20px;
        line-height: 150%;
    }

    h5 {
        font-size: 18px;
        line-height: 150%;
    }

    h6 {
        font-size: 16px;
        line-height: 150%;
    }
}
