/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.eot");
  src: url("../fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.ttf") format("truetype"), url("../fonts/lato/Lato-Regular.svg?#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.eot");
  src: url("../fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.ttf") format("truetype"), url("../fonts/lato/Lato-Regular.svg?#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-SemiBold.eot");
  src: url("../fonts/lato/Lato-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-SemiBold.woff") format("woff"), url("../fonts/lato/Lato-SemiBold.ttf") format("truetype"), url("../fonts/lato/Lato-SemiBold.svg?#webfont") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-SemiBoldItalic.eot");
  src: url("../fonts/lato/Lato-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-SemiBoldItalic.woff") format("woff"), url("../fonts/lato/Lato-SemiBoldItalic.ttf") format("truetype"), url("../fonts/lato/Lato-SemiBoldItalic.svg?#webfont") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Bold.eot");
  src: url("../fonts/lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Bold.woff") format("woff"), url("../fonts/lato/Lato-Bold.ttf") format("truetype"), url("../fonts/lato/Lato-Bold.svg?#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-BoldItalic.eot");
  src: url("../fonts/lato/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-BoldItalic.woff") format("woff"), url("../fonts/lato/Lato-BoldItalic.ttf") format("truetype"), url("../fonts/lato/Lato-BoldItalic.svg?#webfont") format("svg");
  font-weight: 700;
  font-style: italic;
}
html,
body {
  height: 100%;
}

.page {
  font-family: "Lato", Arial, sans-serif;
  overflow-x: hidden !important;
  overflow-y: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #331A2F;
  font-weight: 400;
  font-size: 25px;
}
.page a {
  color: #331A2F;
  text-decoration: none;
}
.page.no-scroll {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

.page__wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

* html .page__wrapper {
  height: 100%;
}

.page__buffer {
  height: 50px;
}

.wrapper {
  width: 1530px;
  margin: 0 auto;
}

.btn-purple {
  background: #CF51CE;
  border-radius: 12px;
  color: #FFFFFF !important;
  padding: 11px 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 400;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn-purple svg {
  width: 23px;
  height: 23px;
  margin-right: 14px;
}
.btn-purple:hover {
  background: #bb40bb;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-weight: 600;
  font-size: 42px;
  line-height: 55px;
}

h4 {
  font-weight: 600;
  font-size: 35px;
  line-height: 29px;
}

h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

@media only screen and (max-width: 1800px) {
  .wrapper {
    width: 1200px;
  }

  .btn-purple {
    font-weight: 500;
    font-size: 18px;
  }
  .btn-purple svg {
    width: 20px;
    height: 20px;
  }

  h1 {
    font-size: 46px;
    line-height: 65px;
  }

  h2 {
    font-size: 40px;
    line-height: 50px;
  }

  h3 {
    font-size: 38px;
    line-height: 55px;
  }

  h4 {
    font-size: 30px;
    line-height: 36px;
  }

  h5 {
    font-size: 20px;
    line-height: 150%;
  }

  h6 {
    font-size: 16px;
    line-height: 150%;
  }
}
@media only screen and (max-width: 1260px) {
  .wrapper {
    width: 738px;
  }

  .btn-purple {
    font-size: 20px;
  }
}
@media only screen and (max-width: 750px) {
  .wrapper {
    width: 330px !important;
  }

  .btn-purple {
    padding: 4px 19px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
  }
  .btn-purple svg {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }

  h1 {
    font-size: 26px;
    line-height: 150%;
  }

  h2 {
    font-size: 24px;
    line-height: 150%;
  }

  h3 {
    font-size: 22px;
    line-height: 150%;
  }

  h4 {
    font-size: 20px;
    line-height: 150%;
  }

  h5 {
    font-size: 18px;
    line-height: 150%;
  }

  h6 {
    font-size: 16px;
    line-height: 150%;
  }
}
.breadcrumbs .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
  line-height: 1;
}
.breadcrumbs a {
  font-weight: 400;
  font-size: 16px;
  color: rgba(51, 26, 47, 0.5);
}
.breadcrumbs a[disabled] {
  pointer-events: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs span {
  width: 10px;
  height: 1px;
  margin: 0 8px;
  background: rgba(51, 26, 47, 0.5);
}

@media only screen and (max-width: 1800px) {
  .breadcrumbs .wrapper {
    width: 1200px;
  }
}
@media only screen and (max-width: 1260px) {
  .breadcrumbs .wrapper {
    width: 738px;
  }
}
.courses {
  position: relative;
}
.courses .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  padding-bottom: 70px;
}
.courses__info {
  width: 880px;
  margin-right: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.courses__title {
  margin-top: 0;
  font-weight: 700;
  font-size: 56px;
  color: #331A2F;
  margin-bottom: 20px;
  line-height: 80px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.courses__title span {
  color: #CF51CE;
}
.courses__text {
  font-weight: 400;
  font-size: 25px;
  color: rgba(51, 26, 47, 0.8);
}
.courses__text p {
  line-height: 160%;
  margin: 0;
  margin-bottom: 15px;
}
.courses__text p:last-child {
  margin-bottom: 0;
}
.courses__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 400;
  font-size: 30px;
  color: rgba(51, 26, 47, 0.8);
  margin-bottom: 16px;
}
.courses__price svg {
  width: 48px;
  margin-right: 25px;
}
.courses__price span {
  font-weight: 700;
  color: #CF51CE;
  margin: 0 7px;
  font-size: 35px;
}
.courses__img {
  width: 620px;
  height: 605px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 30px 45px 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url("/static/img/general/bg_stars.png") no-repeat;
  background-position: bottom;
}
.courses__img img {
  width: 560px;
  overflow: hidden;
}
.courses::after {
  content: url("/static/img/general/bg_2.png");
  position: absolute;
  top: 170px;
  right: 0px;
}

@media only screen and (max-width: 1800px) {
  .courses .wrapper {
    padding-bottom: 36px;
  }
  .courses__info {
    width: 711px;
    margin-right: 54px;
  }
  .courses__title {
    font-weight: 700;
    font-size: 46px;
    line-height: 65px;
    margin-bottom: 40px;
  }
  .courses__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
  }
  .courses__price {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .courses__price svg {
    width: 48px;
    margin-right: 25px;
  }
  .courses__price span {
    font-size: 38px;
  }
  .courses__img {
    width: 458px;
    height: 468px;
    padding: 0px 0px 23px 23px;
  }
  .courses__img img {
    width: 435px;
  }
  .courses::after {
    content: url("/static/img/general/bg_2.png");
    display: none;
  }
}
@media only screen and (max-width: 1260px) {
  .courses {
    overflow: hidden;
  }
  .courses .wrapper {
    padding-bottom: 35px;
    position: relative;
  }
  .courses__info {
    width: 100%;
    margin-right: 0px;
  }
  .courses__title {
    margin-bottom: 18px;
  }
  .courses__text {
    width: 482px;
  }
  .courses__img {
    width: 410px;
    height: 410px;
    padding: 0px;
    background: none;
    overflow: hidden;
    position: absolute;
    top: 149px;
    left: 508px;
  }
  .courses__img img {
    width: 410px;
  }
}
@media only screen and (max-width: 750px) {
  .courses .wrapper {
    padding-top: 44px;
    padding-bottom: 45px;
  }
  .courses__title {
    width: 202px;
    margin-bottom: 24px;
    font-size: 26px;
    line-height: 150%;
  }
  .courses__text {
    width: 100%;
    font-size: 18px;
    line-height: 160%;
  }
  .courses__price {
    margin-bottom: 18px;
  }
  .courses__img {
    width: 245px;
    height: 245px;
    top: 0px;
    left: 212px;
  }
  .courses__img img {
    width: 245px;
  }
}
.header .wrapper {
  padding: 35px 0px;
  padding-bottom: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 489px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 31px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .logo-img {
  width: 241px;
  height: 58px;
  margin-right: 19px;
}
.header .logo-img img,
.header .logo-img svg {
  width: 241px;
  height: 58px;
}
.header .logo-text {
  padding: 13px 0px 13px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-left: 1px solid rgba(51, 26, 47, 0.5);
}
.header__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 24px;
}
.header__nav-mobile-btn {
  display: none;
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .link-item {
  margin-right: 50px;
  position: relative;
}
.header .link-item:last-child {
  margin-right: 0;
}
.header .dropdown-item {
  padding-right: 25px;
  position: relative;
}
.header .dropdown-item .dropdown-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  cursor: pointer;
}
.header .dropdown-item.open .dropdown-btn {
  top: 5px;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
.header .dropdown-item.open .dropdown-container {
  opacity: 1;
  pointer-events: all;
}
.header .dropdown-container {
  width: 220px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 50;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}
.header .dropdown-container a {
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .dropdown-container a:hover {
  background-color: #d9d9d9;
}
.header .dropdown-container a::after {
  display: none;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__phone svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.header__login-btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header::after {
  content: url("/static/img/general/bg_1.png");
  position: absolute;
  top: 0px;
  left: 0px;
}

.header__phone a,
.header .link-item a {
  display: block;
  position: relative;
}
.header__phone a::after,
.header .link-item a::after {
  content: "";
  width: 100px;
  height: 2px;
  border-radius: 1px;
  background-color: #331A2F;
  position: absolute;
  top: 95%;
  left: 50%;
  right: 50%;
  width: 0%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.header__phone a:hover::after,
.header .link-item a:hover::after {
  left: 0%;
  right: 0%;
  width: 100%;
  opacity: 1;
}

@media only screen and (max-width: 1800px) {
  .header .wrapper {
    width: 1200px;
  }
  .header__logo {
    width: 380px;
    margin-right: 28px;
  }
  .header .logo-img {
    width: 178px;
    height: 44px;
    margin-right: 19px;
  }
  .header .logo-img img,
.header .logo-img svg {
    width: 178px;
    height: 44px;
  }
  .header .logo-text {
    padding: 10px 27px 10px 19px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  }
  .header__nav {
    font-weight: 400;
    font-size: 18px;
  }
  .header .link-item {
    margin-right: 40px;
  }
  .header__phone svg {
    width: 20px;
    height: 20px;
  }
  .header::after {
    content: url("/static/img/general/bg_3.png");
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
@media only screen and (max-width: 1260px) {
  .header .wrapper {
    width: 738px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__logo {
    width: 372px;
    margin-right: 78px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .header .logo-img {
    width: 179px;
    height: 40px;
    margin-right: 14px;
  }
  .header .logo-img img,
.header .logo-img svg {
    width: 179px;
    height: 40px;
  }
  .header .logo-text {
    padding: 10px 20px 10px 20px;
  }
  .header__nav {
    font-weight: 400;
    font-size: 18px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .header__nav-mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 42px;
    height: 28px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: auto 0;
    margin-left: 79px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header__nav-mobile-btn span {
    width: 42px;
    height: 4px;
    background: #CF51CE;
    border-radius: 4px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__nav-mobile-btn span:last-child {
    width: 32px;
    margin-left: auto;
    margin-right: 0;
  }
  .header__nav-mobile-btn.active span:last-child {
    margin-left: 0;
    width: 100%;
  }
  .header__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 0;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header .link-item {
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header .link-item a::after {
    display: none;
  }
  .header .dropdown-item {
    margin-right: 0;
    text-align: right;
    padding-bottom: 0;
  }
  .header .dropdown-item .dropdown-btn {
    top: 10px;
  }
  .header .dropdown-item.open .dropdown-btn {
    top: 12px;
  }
  .header .dropdown-item.open .dropdown-container {
    height: auto;
  }
  .header .dropdown-container {
    width: 100%;
    z-index: 1;
    padding-top: 10px;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    pointer-events: all;
    height: 0;
    overflow: hidden;
    background-color: transparent;
  }
  .header .dropdown-container a {
    background-color: transparent;
    padding: 10px 0;
  }
  .header .dropdown-container a:hover {
    background-color: transparent;
  }
  .header__phone {
    padding: 10px 0;
    padding-right: 25px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__phone svg {
    width: 20px;
    height: 20px;
  }
  .header__phone a::after {
    display: none;
  }
  .header__login-btn {
    margin-left: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header::after {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  .header__logo {
    width: 140px;
    margin-right: 23px;
  }
  .header .logo-img {
    width: 140px;
    height: 32px;
  }
  .header .logo-img img,
.header .logo-img svg {
    width: 140px;
    height: 32px;
  }
  .header .logo-text {
    display: none;
  }
  .header__login-btn {
    margin-left: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
  .header__nav-mobile-btn {
    margin-left: 21px;
  }
}
.history .wrapper {
  width: 1320px;
  padding: 70px 0;
}
.history__title {
  width: 844px;
  margin: 0 auto;
  margin-bottom: 85px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #331A2F;
}
.history__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.history__info img {
  width: 456px;
  margin-right: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.history__info div {
  padding: 115px 0;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
}
.history__info div p {
  margin: 0px;
  margin-bottom: 15px;
}
.history__info div p:last-child {
  margin: 0;
}
.history__info.info-style-reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.history__info.info-style-reversed img {
  width: 474px;
  margin-right: 0;
  margin-left: 80px;
}
.history__info.info-style-reversed div {
  padding: 110px 0;
}

@media only screen and (max-width: 1800px) {
  .history .wrapper {
    width: 995px;
    padding: 35px 0px 75px 0px;
  }
  .history__title {
    width: 652px;
    font-size: 40px;
    line-height: 64px;
  }
  .history__info img {
    width: 352px;
  }
  .history__info div {
    padding: 85px 0;
    font-size: 20px;
  }
  .history__info.info-style-reversed img {
    width: 358px;
    margin-left: 55px;
  }
  .history__info.info-style-reversed div {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 1260px) {
  .history .wrapper {
    width: 738px;
    padding: 30px 0px 60px 0px;
  }
  .history__info {
    margin-bottom: 20px;
  }
  .history__info:last-child {
    margin-bottom: 0;
  }
  .history__info img {
    width: 270px;
    height: 277px;
    margin-right: 40px;
  }
  .history__info div {
    padding: 11px 0;
  }
  .history__info.info-style-reversed img {
    width: 270px;
    height: 270px;
    margin-left: 40px;
  }
  .history__info.info-style-reversed div {
    padding: 0px;
  }
}
@media only screen and (max-width: 750px) {
  .history .wrapper {
    padding: 40px 0px 50px 0px;
  }
  .history__title {
    width: 100%;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 50px;
  }
  .history__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .history__info img {
    margin: 0px auto;
    margin-bottom: 30px;
  }
  .history__info div {
    padding: 0px;
  }
  .history__info div p {
    font-size: 18px;
  }
  .history__info.info-style-reversed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .history__info.info-style-reversed img {
    margin: 0px auto;
    margin-bottom: 30px;
  }
}
.learning .wrapper {
  padding: 70px 0;
}
.learning__title {
  width: 680px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}
.learning__title span {
  color: #EA5DBB;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.learning__title p {
  position: relative;
  display: inline-block;
  margin: 0;
}
.learning__title p::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 7px;
  background: -webkit-linear-gradient(185.09deg, #7C4EAB 0.73%, #DD51D4 95.85%);
  background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
  border-radius: 5px;
}
.learning__sub-title {
  width: 846px;
  text-align: center;
  margin: 0 auto;
  color: rgba(51, 26, 47, 0.8);
  padding-bottom: 45px;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
}
.learning__container {
  width: 100%;
  padding: 40px 0px;
  overflow: hidden;
}
.learning__container__item {
  width: 290px;
  margin: 61.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.learning__container__item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  background: #CF51CE;
  -webkit-box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
          box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
  border-radius: 15px;
}
.learning__container__item span svg {
  width: 48px;
  height: 48px;
}
.learning__container__item h5 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.learning__container__item p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
}
.learning__container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -61.5px;
}

@media only screen and (max-width: 1800px) {
  .learning__title {
    width: 640px;
    padding-bottom: 25px;
    font-size: 39.9977px;
    line-height: 64px;
  }
  .learning__sub-title {
    width: 683px;
    font-weight: 400;
    font-size: 19.9988px;
    line-height: 160%;
    padding-bottom: 45px;
  }
  .learning__container__item {
    width: 225px;
    margin: 40px;
  }
  .learning__container__item span {
    width: 60px;
    height: 60px;
  }
  .learning__container__item span svg {
    width: 38px;
    height: 38px;
  }
  .learning__container__item h5 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .learning__container__item p {
    font-weight: 400;
    font-size: 15.9991px;
    line-height: 160%;
  }
  .learning__container-flex {
    margin: -40px;
  }
}
@media only screen and (max-width: 1260px) {
  .learning__container__item {
    width: 255px;
    margin: 30px;
  }
  .learning__container-flex {
    margin: -30px;
  }
}
@media only screen and (max-width: 750px) {
  .learning__title {
    width: 300px;
    font-size: 24px;
    line-height: 150%;
  }
  .learning__sub-title {
    width: 100%;
    font-size: 18px;
    line-height: 160%;
    padding-bottom: 30px;
  }
  .learning__container {
    padding-top: 20px;
  }
  .learning__container__item {
    width: 255px;
    margin: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .learning__container__item h5 {
    font-size: 18px;
    line-height: 150%;
  }
  .learning__container__item p {
    font-size: 16px;
    line-height: 160%;
  }
  .learning__container-flex {
    margin: -20px;
  }
}