<div class="history">
    <div class="wrapper">
        <h2 class="history__title">Небольшая предыстория о том, почему нам можно доверять</h2>
        <div class="history__info">
            <img src="%=static=%img/general/history_1.png" alt="">
            <div>
                <p>Свой путь в бизнесе мы начали в 2016 г. У нас были свои островные магазины в крупных ТЦ Москвы
                    («Европейский», «Метрополис», «Мега» и др.), а также свой интернет-магазин. Мы накопили большой опыт
                    в продвижении своих товаров за счет многочисленных запусков разных рекламных каналов и работы с
                    блогерами.</p>
            </div>
        </div>
        <div class="history__info info-style-reversed">
            <img src="%=static=%img/general/history_2.png" alt="">
            <div>
                <p>Летом 2019 года мы вышли на маркетплейсы и после работы с ними в течение 2 месяцев приняли решение
                    развивать только это направление. И не прогадали. Весь накопленный опыт мы направили на улучшение и
                    продвижение наших брендов.</p>
                <p>Пришло время поделится знаниями и лайфхаками, которые будут собраны и доступны в нашей Академии
                    stat4market.</p>
            </div>
        </div>
    </div>
</div>
