.history {
    .wrapper {
        width: 1320px;
        padding: 70px 0;
    }

    &__title {
        width: 844px;
        margin: 0 auto;
        margin-bottom: 85px;
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: #331A2F;
    }

    &__info {
        display: flex;

        img {
            width: 456px;
            margin-right: 80px;
            flex-shrink: 0;
        }

        div {
            padding: 115px 0;
            font-weight: 400;
            font-size: 25px;
            line-height: 160%;
            color: rgba(51, 26, 47, 0.8);

            p {
                margin: 0px;
                margin-bottom: 15px;

                &:last-child {
                    margin: 0;
                }
            }

        }

        &.info-style-reversed {
            flex-direction: row-reverse;

            img {
                width: 474px;
                margin-right: 0;
                margin-left: 80px;
            }

            div {
                padding: 110px 0;
            }
        }
    }
}

@media only screen and (max-width: 1800px) {

    //1280-1920
    .history {
        .wrapper {
            width: 995px;
            padding: 35px 0px 75px 0px;
        }

        &__title {
            width: 652px;
            font-size: 40px;
            line-height: 64px;
        }

        &__info {
            img {
                width: 352px;
            }

            div {
                padding: 85px 0;
                font-size: 20px;
            }

            &.info-style-reversed {
                img {
                    width: 358px;
                    margin-left: 55px;
                }

                div {
                    padding: 60px 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 1260px) {

    //768-1280
    .history {
        .wrapper {
            width: 738px;
            padding: 30px 0px 60px 0px;
        }

        &__info {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            img {
                width: 270px;
                height: 277px;
                margin-right: 40px;
            }

            div {
                padding: 11px 0;
            }

            &.info-style-reversed {
                img {
                    width: 270px;
                    height: 270px;
                    margin-left: 40px;
                }

                div {
                    padding: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {

    //360-768
    .history {
        .wrapper {
            padding: 40px 0px 50px 0px;
        }

        &__title {
            width: 100%;
            font-size: 24px;
            line-height: 150%;
            margin-bottom: 50px;
        }

        &__info {
            flex-direction: column;
            margin-bottom: 40px;

            img {
                margin: 0px auto;
                margin-bottom: 30px;
            }

            div {
                padding: 0px;

                p {
                    font-size: 18px;
                }
            }

            &.info-style-reversed {
                flex-direction: column;

                img {
                    margin: 0px auto;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
