<header class="header">
    <div class="wrapper">
        <div class="header__logo">
            <a href="#" class="logo-img">
                {{Icon iconName='logo'}}
            </a>
            <div class="logo-text">Надежный сервис аналитики для поставщиков на маркетплейсы</div>
        </div>
        <div class="header__nav">
            <div class="header__links">
                <div class="link-item dropdown-item">
                    <a href="#">Аналитика</a>
                    <span class="dropdown-btn">{{Icon iconName='triangle'}}</span>
                    <div class="dropdown-container">
                        <a href="#">Пункт меню 1</a>
                        <a href="#">Пункт меню 2</a>
                        <a href="#">Пункт меню 3</a>
                    </div>
                </div>
                <div class="link-item">
                    <a href="#">Обучение</a>
                </div>
            </div>
            <div class="header__phone">
                {{Icon iconName='phone'}}
                <a href="tel:#">8 (499) 450-31-41</a>
            </div>
        </div>
        <div class="header__login-btn">
            <a href="#" class="btn-purple">
                {{Icon iconName='btn-arrow'}}
                <span>Войти</span>
            </a>
        </div>
        <div class="header__nav-mobile-btn">
            <span></span><span></span><span></span>
        </div>
    </div>
</header>
