.header {
    .wrapper {
        padding: 35px 0px;
        padding-bottom: 66px;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 489px;
        display: flex;
        align-items: center;
        margin-right: 31px;
        flex-shrink: 0;
    }

    .logo-img {
        width: 241px;
        height: 58px;
        margin-right: 19px;

        img,
        svg {
            width: 241px;
            height: 58px;
        }

    }

    .logo-text {
        padding: 13px 0px 13px 25px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        border-left: 1px solid rgba(51, 26, 47, 0.5);
    }

    &__nav {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 24px;
    }

    &__nav-mobile-btn {
        display: none;
    }

    &__links {
        display: flex;
        align-items: center;
    }

    .link-item {
        margin-right: 50px;
        position: relative;

        &:last-child {
            margin-right: 0;
        }

    }

    .dropdown-item {
        padding-right: 25px;
        position: relative;

        .dropdown-btn {
            position: absolute;
            top: 0px;
            right: 0px;
            transition: 0.3s;
            transform-origin: center center;
            cursor: pointer;
        }

        &.open {
            .dropdown-btn {
                top: 5px;
                transform: rotateX(-180deg);
            }

            .dropdown-container {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    .dropdown-container {
        width: 220px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 50;
        background-color: #fff;
        position: absolute;
        top: calc(100% + 15px);
        left: 0;
        right: auto;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        opacity: 0;
        pointer-events: none;

        a {
            padding: 10px 15px;
            transition: 0.3s;

            &:hover {
                background-color: grayscale($color: #dad7d7);
            }

            &::after {
                display: none;
            }
        }
    }

    &__phone {
        display: flex;
        align-items: center;

        svg {
            width: 24px;
            height: 24px;
            margin-right: 5px;
        }


    }

    &__login-btn {
        flex-shrink: 0;
        margin-left: 91px;
        display: flex;
        align-items: center;
    }

    &::after {
        content: url('/static/img/general/bg_1.png');
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

.header__phone,
.header .link-item {
    a {
        display: block;
        position: relative;

        &::after {
            content: "";
            width: 100px;
            height: 2px;
            border-radius: 1px;
            background-color: #331A2F;
            position: absolute;
            top: 95%;
            left: 50%;
            right: 50%;
            width: 0%;
            transition: 0.3s;
            opacity: 0;
        }

        &:hover::after {
            left: 0%;
            right: 0%;
            width: 100%;
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 1800px) {

    //1280-1920
    .header {
        .wrapper {
            width: 1200px;
        }

        &__logo {
            width: 380px;
            margin-right: 28px;
        }

        .logo-img {
            width: 178px;
            height: 44px;
            margin-right: 19px;

            img,
            svg {
                width: 178px;
                height: 44px;
            }

        }

        .logo-text {
            padding: 10px 27px 10px 19px;
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
        }

        &__nav {
            font-weight: 400;
            font-size: 18px;
        }

        .link-item {
            margin-right: 40px;
        }

        &__phone {
            svg {
                width: 20px;
                height: 20px;
            }
        }

        &::after {
            content: url('/static/img/general/bg_3.png');
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
}

@media only screen and (max-width: 1260px) {

    //768-1280
    .header {

        .wrapper {
            width: 738px;
            flex-wrap: wrap;
        }

        &__logo {
            width: 372px;
            margin-right: 78px;
            order: 0;
        }

        .logo-img {
            width: 179px;
            height: 40px;
            margin-right: 14px;

            img,
            svg {
                width: 179px;
                height: 40px;
            }

        }

        .logo-text {
            padding: 10px 20px 10px 20px;
        }

        &__nav {
            font-weight: 400;
            font-size: 18px;
            order: 4;
            width: 100%;
            flex-direction: column;
            display: none;
        }

        &__nav-mobile-btn {
            display: flex;
            width: 42px;
            height: 28px;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            margin: auto 0;
            margin-left: 79px;
            order: 3;

            span {
                width: 42px;
                height: 4px;
                background: #CF51CE;
                border-radius: 4px;
                transition: 0.3s;

                &:last-child {
                    width: 32px;
                    margin-left: auto;
                    margin-right: 0;
                }
            }

            &.active {
                span:last-child {
                    margin-left: 0;
                    width: 100%;
                }
            }
        }

        &__links {
            flex-direction: column;
            justify-content: flex-end;
            margin-right: 0;
            width: 100%;
            align-items: flex-end;
        }

        .link-item {
            margin-right: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 25px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            a::after {
                display: none;
            }
        }

        .dropdown-item {
            margin-right: 0;
            text-align: right;
            padding-bottom: 0;

            .dropdown-btn {
                top: 10px;
            }

            &.open {
                .dropdown-btn {
                    top: 12px;
                }

                .dropdown-container {
                    height: auto;
                }
            }
        }

        .dropdown-container {
            width: 100%;
            z-index: 1;
            padding-top: 10px;
            position: relative;
            box-shadow: none;
            display: flex;
            flex-direction: column;
            transition: 0.3s;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            pointer-events: all;
            height: 0;
            overflow: hidden;
            background-color: transparent;

            a {
                background-color: transparent;
                padding: 10px 0;

                &:hover {
                    background-color: transparent;
                }
            }
        }

        &__phone {
            padding: 10px 0;
            padding-right: 25px;
            justify-content: flex-end;

            svg {
                width: 20px;
                height: 20px;
            }

            a::after {
                display: none;
            }
        }

        &__login-btn {
            margin-left: auto;
            order: 2;
        }

        &::after {
            display: none;
        }
    }
}

@media only screen and (max-width: 750px) {

    //360-768
    .header {
        &__logo {
            width: 140px;
            margin-right: 23px;
        }

        .logo-img {
            width: 140px;
            height: 32px;

            img,
            svg {
                width: 140px;
                height: 32px;
            }

        }

        .logo-text {
            display: none;
        }

        &__login-btn {
            margin-left: auto;
            order: 2;
            margin: 0;
        }

        &__nav-mobile-btn {
            margin-left: 21px;
        }
    }
}
