<div class="learning">
    <div class="wrapper">
        <h2 class="learning__title">
            Обучение по продажам на маркетплейсах от <p>stat<span>4</span>market</p>
        </h2>
        <div class="learning__sub-title">
            «Увеличение реальной прибыли, конкретика и ключевые инструменты,
            которые дают результат» — на этом тезисе созданы наши курсы
        </div>
        <div class="learning__container">
            <div class="learning__container-flex">
                <div class="learning__container__item">
                    <span>{{Icon iconName='target'}}</span>
                    <h5>Наше обучение построено очень лаконично и просто</h5>
                    <p>Все занятия короткие по продолжительности для легкого восприятия и понимания. Мы даем в уроках
                        только конкретику, без лишней теории и “воды”.</p>
                </div>
                <div class="learning__container__item">
                    <span>{{Icon iconName='site'}}</span>
                    <h5>Ко всем урокам есть дополнительные материалы</h5>
                    <p>Презентации, краткие инструкции, чек-листы и памятки по работе с маркетплейсами.</p>
                </div>
                <div class="learning__container__item">
                    <span>{{Icon iconName='friends'}}</span>
                    <h5>Наше обучение — практико-ориентированное</h5>
                    <p>Поэтому после прохождения уроков ты будешь выполнять задания, которые помогут тебе закрепить
                        полученные знания на практике.</p>
                </div>
                <div class="learning__container__item">
                    <span>{{Icon iconName='creators'}}</span>
                    <h5>Создатели нашей Академии</h5>
                    <p>Действующие селлеры с большим опытом в продажах на маркетплейсах, эксперты компании stat4market,
                        а также профессиональные лекторы и методологи.</p>
                </div>
            </div>
        </div>
    </div>
</div>
