.learning {
    .wrapper {
        padding: 70px 0;
    }

    &__title {
        width: 680px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 30px;

        span {
            color: #EA5DBB;
            transition: 0.3s;
        }

        p {
            position: relative;
            display: inline-block;
            margin: 0;

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                width: 100%;
                height: 7px;
                background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
                border-radius: 5px;
            }
        }
    }

    &__sub-title {
        width: 846px;
        text-align: center;
        margin: 0 auto;
        color: rgba(51, 26, 47, 0.8);
        padding-bottom: 45px;
        font-weight: 400;
        font-size: 25px;
        line-height: 160%;
    }

    &__container {
        width: 100%;
        padding: 40px 0px;
        overflow: hidden;

        &__item {
            width: 290px;
            margin: 61.5px;
            display: flex;
            flex-direction: column;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                background: #CF51CE;
                box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
                border-radius: 15px;

                svg {
                    width: 48px;
                    height: 48px;
                }
            }

            h5 {
                margin-top: 30px;
                margin-bottom: 15px;
            }

            p {
                margin: 0;
                font-weight: 400;
                font-size: 18px;
                line-height: 160%;
                color: rgba(51, 26, 47, 0.8)
            }
        }
    }

    &__container-flex {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: -61.5px;
    }
}

@media only screen and (max-width: 1800px) {

    //1280-1920
    .learning {

        &__title {
            width: 640px;
            padding-bottom: 25px;
            font-size: 39.9977px;
            line-height: 64px;
        }

        &__sub-title {
            width: 683px;
            font-weight: 400;
            font-size: 19.9988px;
            line-height: 160%;
            padding-bottom: 45px;
        }

        &__container {
            &__item {
                width: 225px;
                margin: 40px;

                span {
                    width: 60px;
                    height: 60px;

                    svg {
                        width: 38px;
                        height: 38px;
                    }
                }

                h5 {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                p {
                    font-weight: 400;
                    font-size: 15.9991px;
                    line-height: 160%;
                }
            }
        }

        &__container-flex {
            margin: -40px;
        }
    }
}

@media only screen and (max-width: 1260px) {

    //768-1280
    .learning {

        &__container {
            &__item {
                width: 255px;
                margin: 30px;
            }
        }

        &__container-flex {
            margin: -30px;
        }
    }
}

@media only screen and (max-width: 750px) {

    //360-768
    .learning {

        &__title {
            width: 300px;
            font-size: 24px;
            line-height: 150%;
        }

        &__sub-title {
            width: 100%;
            font-size: 18px;
            line-height: 160%;
            padding-bottom: 30px;
        }

        &__container {
            padding-top: 20px;
            &__item {
                width: 255px;
                margin: 20px;
                align-items: center;
                text-align: center;

                h5 {
                    font-size: 18px;
                    line-height: 150%;
                }

                p {
                    font-size: 16px;
                    line-height: 160%;
                }
            }
        }

        &__container-flex {
            margin: -20px;
        }
    }
}
