.courses {
    position: relative;

    .wrapper {
        display: flex;
        align-items: top;
        padding-bottom: 70px;
    }

    &__info {
        width: 880px;
        margin-right: 60px;
        flex-shrink: 0;
    }

    &__title {
        margin-top: 0;
        font-weight: 700;
        font-size: 56px;
        color: #331A2F;
        margin-bottom: 20px;
        line-height: 80px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        span {
            color: #CF51CE;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 25px;
        color: rgba(51, 26, 47, 0.8);

        p {
            line-height: 160%;
            margin: 0;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__price {
        display: flex;
        align-items: flex-end;
        font-weight: 400;
        font-size: 30px;
        color: rgba(51, 26, 47, 0.8);
        margin-bottom: 16px;

        svg {
            width: 48px;
            margin-right: 25px;
        }

        span {
            font-weight: 700;
            color: #CF51CE;
            margin: 0 7px;
            font-size: 35px;
        }
    }

    &__img {
        width: 620px;
        height: 605px;
        box-sizing: border-box;
        padding: 0px 30px 45px 30px;
        flex-shrink: 0;
        background: url('/static/img/general/bg_stars.png') no-repeat;
        background-position: bottom;

        img {
            width: 560px;
            overflow: hidden;
        }
    }

    &::after {
        content: url('/static/img/general/bg_2.png');
        position: absolute;
        top: 170px;
        right: 0px;
    }
}

@media only screen and (max-width: 1800px) {

    //1280-1920
    .courses {
        .wrapper {
            padding-bottom: 36px;
        }

        &__info {
            width: 711px;
            margin-right: 54px;
        }

        &__title {
            font-weight: 700;
            font-size: 46px;
            line-height: 65px;
            margin-bottom: 40px;
        }

        &__text {
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
        }

        &__price {
            font-weight: 400;
            font-size: 30px;
            margin-bottom: 40px;

            svg {
                width: 48px;
                margin-right: 25px;
            }

            span {
                font-size: 38px;
            }
        }

        &__img {
            width: 458px;
            height: 468px;
            padding: 0px 0px 23px 23px;

            img {
                width: 435px;
            }
        }

        &::after {
            content: url('/static/img/general/bg_2.png');
            display: none;
        }
    }
}

@media only screen and (max-width: 1260px) {

    //768-1280
    .courses {
        overflow: hidden;

        .wrapper {
            padding-bottom: 35px;
            position: relative;
        }

        &__info {
            width: 100%;
            margin-right: 0px;
        }

        &__title {
            margin-bottom: 18px;
        }

        &__text {
            width: 482px;
        }

        &__img {
            width: 410px;
            height: 410px;
            padding: 0px;
            background: none;
            overflow: hidden;
            position: absolute;
            top: 149px;
            left: 508px;

            img {
                width: 410px;
            }
        }
    }
}

@media only screen and (max-width: 750px) {

    //360-768
    .courses {
        .wrapper {
            padding-top: 44px;
            padding-bottom: 45px;
        }

        &__title {
            width: 202px;
            margin-bottom: 24px;
            font-size: 26px;
            line-height: 150%;
        }

        &__text {
            width: 100%;
            font-size: 18px;
            line-height: 160%;
        }

        &__price {
            margin-bottom: 18px;
        }

        &__img {
            width: 245px;
            height: 245px;
            top: 0px;
            left: 212px;

            img {
                width: 245px;
            }
        }
    }
}
