<div class="courses">
    <div class="wrapper">
        <div class="courses__info">
            <h1 class="courses__title"><span>Обучающие курсы</span> для поставщиков на маркетплейсы</h1>
            <div class="courses__price">
                {{Icon iconName='spent'}}
                от <span>19 900</span> ₽
            </div>
            <div class="courses__text">
                <p>Обучающие курсы по работе и продвижению на маркетплейсах от практикующих селлеров</p>
                <p>Добро пожаловать в Академию. Это место для эффективного обучения, где мы рассказываем, как работают
                    маркетплейсы и никогда не вдаемся
                    в теорию, которая не понадобится на практике.
                </p>
                <p>Нащи уроки помогут понять логику работы площадок и взять управление продажами в свои руки, а не
                    действовать наугад. Становись экспертом в работе с маркетплейсами и увеличивай свою прибыль.</p>
            </div>
        </div>
        <div class="courses__img">
            <img src="%=static=%img/general/superman.png" alt="">
        </div>
    </div>
</div>
