.breadcrumbs {
    .wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        line-height: 1;
    }

    a {
        font-weight: 400;
        font-size: 16px;
        color: rgba(51, 26, 47, 0.5);

        &[disabled] {
            pointer-events: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        width: 10px;
        height: 1px;
        margin: 0 8px;
        background: rgba(51, 26, 47, 0.5);
    }
}

@media only screen and (max-width: 1800px) {

    //1280-1920
    .breadcrumbs {
        .wrapper {
            width: 1200px;
        }
    }
}

@media only screen and (max-width: 1260px) {

    //768-1280
    .breadcrumbs {
        .wrapper {
            width: 738px;
        }
    }
}

